{% extends

'TroiswaPublicBundle::layout.html.twig'
%}

{% block titre %}
    Les acteurs {{ parent() }}
{% endblock %}

{% block body%}



    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Three Column Portfolio
                    <small>Showcase Your Work</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('troiswa_public_homepage') }}">Menu principal</a>
                    </li>
                    <li class="active"><a href="{{ path('troiswa_public_films') }}"> Films </a></li>
                    <li class="active"><a href="{{ path('troiswa_admin_acteur') }}"> Ajout d'un acteur </a></li>

                </ol>
            </div>

        </div>
        <!-- /.row -->



        <div class="row">

        {% for acteur in acteurs %}
            <div class="col-md-4 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="{{ path('troiswa_public_acteur',{"id":acteur.id}) }}">{{ acteur.prenom }}  {{ acteur.nom }} </a>
                </h3>
                <p>{{ acteur.shortbiography }}</p>
            </div>
        {% endfor %}

        </div>








{% endblock %}